.carousel-control-prev-icon{
    background-color:$color-letra;
 }
 
 .carousel-control-next-icon{
    background-color:$color-letra;
 }
 
 .carousel-item img {
    height: 40vh;
}

.card img {
    height: 40vh;
   
}