
* {
    margin: 0;
    padding: 0;
    font-family: $fuente-principal;
}

h1{  
    text-align: left;
    margin-left: $espacio-chico;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
 }

img {
    max-width: 100%;
}

.cabecera {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $color-fondo;
    width: 100%;
} 

.cabecera img {
	padding: $espacio-Xchico;
    width: $espacio-Xgrande;
}


a {
    text-decoration: none;
    color: $color-letra;
	
}

.nav-link,
.navbar-nav .nav-link.active {
    color: $color-primario;

    &:hover {
        color: $color-terciario;
    }
}

.fondo { 

    background-image: url("../image/texture-7515225_1280.jpg") ;
	height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: $espacio-Xchico $espacio-Xchico;
	margin-bottom: $espacio-Xchico;

}


.vs {
	margin-top: $espacio-Xchico;
    @include flex-fila-centrado;
    flex-wrap: wrap;
	gap: $espacio-Xchico;
    
}




.p_blanco {
	color: $color-fondo;
   }


.cpy{
	position: relative;
    width: 150px;
	bottom: $espacio-medio;
	left: 300px;  
}

/*BARRA PROGRESO*/

.barra-progreso {
    margin-left: 20px;
    width: 60%;
    border: solid 2px;
    height: 15px;
}

.barra-rellena {
    border: solid 1px;
    height: 11px;
    width: 50%;
    background-color: $color-secundario;
    animation: rellenando 2s;
}

@keyframes rellenando {
    0% {
        width: 0;
    }

    100% {
        width: 20%;
    }
}