
@media (min-width: $tablet) {
    #nosotros {
        margin: 50px auto;
        height: 350px;
    }
    #iframe1{ 
        width: 40rem;
        height: 25rem;
    }
}
@media (min-width: $desktop) {
    .carousel-item img {
        margin: 0 auto;
        height: 60vh;
    }
    #iframe1{ 
        width: 55em;
        height: 28rem;
    }

    #contacto{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: $espacio-Xgrande auto $espacio-Xgrande;
        gap: $espacio-chico;
        padding: auto;       
     
     
    }
    

}


@media (min-width: $desktopXG) {
    .carousel-item img {
        max-width: 88%;
        margin: 0 auto;
        height: 70vh;
    }
    #iframe1{ 
        width: 70rem;
        height: 28rem;
    }

    
}

@media (min-width: $desktopXXG) {
    .carousel-item img {
        margin: 0 auto;
        height: 70vh;
    }
   
    #iframe1{ 
        width: 70rem;
        height: 28rem;
    }

    
    .card img {
        
        height: 60vh;
       
    }
    

}

